body {
    font-family: Arial, sans-serif;
  }
  
  #colorDiv {
    background-color: lightgray;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  button {
    margin: 10px 0;
  }
  
  .modal-body {
    text-align: center;
  }
  